﻿body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 0.8em;
}

header {
    background-color: #F0F0F0;
    padding: 10px 0;
}

.Top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-numbers,
.social-buttons,
.login {
    margin-right: 10px;
}

.search-bar {
    display: inline-block;
    margin: 0 5px;
}

.like-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.follow-button {
    background-color: lightblue;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.youtube-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}